h1 a {
    color: #FF8833;
    font-family: 'Creepster Caps';
    font-size: 100px;
    text-align: center;

}

h2 a {
    color: #017022;
    font-family: 'Creepster Caps';

}

p {
    font-family: 'Comfortaa';
    font-weight: bold;
}

body {
    background-color: rgb(188, 252, 92);
    margin-left: 40px;
}
